/* General calendar css*/

/*
* {box-sizing: border-box;}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}
*/

.calendar-body {
  box-sizing: border-box;
  font-family: Verdana, sans-serif;
}

.calendar-ul {
  list-style-type: none;
}

.month {
  padding: 70px 25px;
  width: 100%;
  background: #008CBA;
  text-align: center;
}

.month .calendar-ul {
  margin: 0;
  padding: 0;
}

.month .calendar-ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
  cursor: pointer;
}

.month .next {
  float: right;
  padding-top: 10px;
  cursor: pointer;
}

.month .prev:hover,  .month .next:hover{
  color: lightgray;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
  border-style: solid;
  cursor: pointer;
  padding: 5px;
  font-weight: bold;
}

.days li:hover{
  background-color: lightgray;
}

.days li.noday, .days li.noday:hover {
  color: white !important;
  background-color: rgb(99, 99, 99);
  cursor: default;
}

.active {
  border-color: black;
  padding: 5px;
  background: #008CBA;
  color: white !important
}

.days li.active:hover{
  background-color: #00aae2;
}

/* Add media queries for smaller screens */
@media screen and (max-width:992px) {
  .weekdays li, .days li {width: 13.1%;}
}

@media screen and (max-width: 553px) {
  .weekdays li, .days li {width: 12.8%;}
}

@media screen and (max-width: 451px) {
  .weekdays li, .days li {width: 12.2%;}
}

@media screen and (max-width: 333px) {
  .weekdays li, .days li {width: 11%;}
}

/* active event days colour*/
.active-event-day {
  border-color: #008CBA;
  padding: 5px;
  background: lightsalmon;
  color: white !important
}

.days li.active-event-day:hover{
  background-color: salmon;
}

/* simple event days colour*/
.event-day {
  border-color: black;
  padding: 5px;
  background: lightsalmon;
  color: white !important
}

.days li.event-day:hover{
  background-color: salmon;
}