input[type="submit"] {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    position: absolute;
    right:    10px;
    bottom:   5px;
}

/* test code 
.with-boxes {
    background: red;
}
*/

.boxed {
    border: 1px solid #000000;
    /* test code
    background: yellow;
    */
}

.form-boxed {
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    /* background: rgb(200, 230, 240);*/
    /* background: lightgray; */
    background: rgb(200, 230, 240);
}

/*below is a media query to have a nice view of the index boxes*/
@media (max-width:992px) and (min-width:768px) {
    .middle-box {
        /*below is a value to be able to have a nice view of the index boxes*/
        height: 189px;
    }
}

@media only screen and (max-width: 768px){
    .results {
        width: 540px;
    }
}

@media only screen and (max-width: 576px){
    .results {
        width: 100%;
    }
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer{
    background-color: lightgray;
    margin-top: auto;
}

.email {
    color: red;
}

.event-info {
    border: 1px solid #000000;
    padding: 5px;
    border-radius: 10px;
    background-color: rgb(200, 230, 240);
  }